<style>
#body{font-family:Times New Roman,serif}
#p2,#p3{line-height:0.8883636;margin-top:0pt;margin-bottom:0pt;padding: 2pt 0pt 0pt;}
#sp3{font-size: 12pt; color: rgb(0, 0, 0);background-color:transparent;}
#p4{line-height:1.38;margin-top:0pt;margin-bottom:0pt;}#tsP4{font-size:12pt;font-weight:700;color: rgb(0, 0, 0);background-color:transparent;}#sP4{font-size:11pt;font-family:Arial,sans-serif;color: rgb(0, 0, 0);background-color:transparent;}
#p5{line-height:1.38;margin-top:0pt;margin-bottom:0pt;}#tsP5{font-size:12pt;font-weight:700;color: rgb(0, 0, 0);background-color:transparent;}#sp5{font-size:11pt;font-family:Arial,sans-serif;color: rgb(0, 0, 0);background-color:transparent;}
#pRodape{line-height:1.38;margin-top:0pt;margin-bottom:0pt;}#sRodape{font-size:13pt;background-color:transparent;color: white;}
@media only screen and (max-width:768px){#sp3{line-height:0.8883636;padding: 6pt 0pt 0pt;}#btnQSM{width:100%;}}
/* @media only screen and (min-width:768px) and (max-width:1024px){#aumentaVenda{line-height:0.0883636;}} */
</style>
<div id="body">
<img src="images/email/cabecalho.jpeg" style="width: 100%;" alt="" class="img-fluid">
    <p dir="ltr" style="margin-top: 12pt; margin-bottom: 0pt;font-weight: 700;">
       <span style="font-size: 12pt;color: rgb(0, 0, 0);">Prezado</span>
    </p>
    <br>
        <p id="p2">
            <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">Se você está recebendo este e-mail é porque nosso time comercial entrou em contato e você solicitou uma apresentação maior por e-mail.</span>
        </p>
    <br>
    <br>
    <div style="text-align: center;">
    <p><span style="font-size: 14pt; font-family: Times New Roman, serif; color: rgb(0, 108, 251); background-color: transparent; font-weight: 700;">Nós conhecemos os seus principais desafios !</span>
    </div>
    <div style="text-align: center;">
       <a href="https://tractorerp.com.br" style="font-family:Arial,sans-serif;display:inline-block;padding:10px 20px;border-radius: 5px;background-color: rgb(44,97,52);color: white;text-decoration:none;width:60%;border:1px solid #7b7979;font-size:10pt;">QUERO SABER MAIS</a>
    </div>
    </p><br><br>
    <p id="p3"><span style="font-size: 13pt;font-weight: 700;color: rgb(0, 0, 0);background-color:transparent;">Aumentar as Vendas</span></p>
    <p id="p3"><span id="sp3">- Aumentar o nº de orçamentos atendidos;</span></p>
    <p id="p3"><span id="sp3">- Encontrar equivalências entre as peças dos catálogos;</span></p>
    <p id="p3"><span id="sp3">- Poder controlar os estoques para nunca faltar nada;</span></p>
    <p id="p3"><span id="sp3">- Gerenciar a equipe comercial para fazer todos venderem mais.</span></p>
    <br>
    <p id="p3"><span style="font-size: 13pt;font-weight: 700;color: rgb(0, 0, 0);background-color:transparent;">Simplificar a Gestão Financeira</span></p>
    <p id="p3"><span id="sp3">- Economizar tempo em processos com notas fiscais</span></p>
    <p id="p3"><span id="sp3">- Economizar tempo lidando com bancos e contabilidade;</span></p>
    <p id="p3"><br></p>
    <br>
    <p style="margin-bottom:4pt;"><span style="font-size: 14pt; color: rgb(0, 108, 251);font-weight: 800;">Veja como o Tractor ERP te ajuda a vender mais:</span>
    <div style="background-color: rgb(218,224,255); border-radius: 5px; padding: 10px;">
        <p id="p4">
            <span id="tsP4">- Agilidade na Criação de Orçamentos</span>
            <span id="sP4"> - um dos segredos das vendas é ser o primeiro a atender uma solicitação, por isso o processo de atendimento de clientes precisa ser simples e direto.</span>
        </p>
        <p id="p4">
            <span id="tsP4">- Equivalência de peças entre os catálogos dos fabricantes</span>
            <span id="sP4">- facilitando a cotação de clientes e no controle do estoque;</span>
        </p>
        <p id="p4">
            <span id="tsP4">- Acompanhamento de Venda Perdida</span> 
            <span id="sP4" >- você pode analisar as vendas perdidas e otimizar seus processos para vender mais;</span>
        </p>
        <p id="p4">
            <span id="tsP4">- Integração com o Mercado Livre</span>
            <span id="sP4">- os Marketplaces são as melhores opções para vender as peças “mono” de seu estoque, o Tractor ERP integra suas operações de vendas pela internet;</span>
        </p>
        <p id="p4">
            <span id="tsP4">- CRM Integrado</span>
            <span id="sP4"> - Tenha um sistema de gestão de vendas onde você pode acompanhar todas os atendimentos a clientes, analisar a lucratividade das vendas, de sua equipe, enfim, </span>
            <span id="sP4">encontrar os melhores caminhos para crescer e prosperar.</span>
        </p>
    </div>
    <br>
    <div style="text-align: center;">
        <a href="https://tractorerp.com.br" style="font-family:Arial,sans-serif;display:inline-block;padding:10px 20px;border-radius: 5px;background-color: rgb(44,97,52);color: white;text-decoration:none;width:60%;border:1px solid #7b7979;font-size:10pt;">QUERO SABER MAIS</a>
    </div>
    <br><br><br>
    <p style="margin-bottom:4pt;"><span style="font-size: 14pt; color: rgb(0, 108, 251);font-weight: 800;">Simplifique seus processos Administrativos e Fiscais:</span></p>
    <p id="p5"><span id="tsP5">- Eficiência na Emissão de Notas Fiscais:</span><span id="sp5"> O sistema já trabalha com arquivos em formato XML;</span></p>
    <p id="p5"><span id="tsP5">- Cálculo Automático de Impostos:</span><span id="sp5"> evitando erros e descomplicando tributos;</span></p>
    <p id="p5"><span id="tsP5">- Integração Bancária e Contábil:</span><span id="sp5"> Remessas e Recebimentos, dados para a contabilidade, tudo mais simples e direto com o Tractor ERP;</span></p>
    <p id="p5"><span id="tsP5">- Registro Automático de Notas de Compra:</span><span id="sp5"> Sem papelada, sem estresse;</span></p>
    <br>
    <p><span style="font-size:13pt;color: rgb(0,0,0);background-color:transparent;">Com o Tractor ERP você poupará muito tempo com o processos financeiros e fiscais de sua empresa, o uso do sistema reduz drasticamente tempo de operação e eventuais&nbsp; erros de cálculos que possam ocorrer.</span></p>
    <br>
    <p dir="ltr" style="font-size:13pt;line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="color: rgb(0,0,0);background-color:transparent;font-weight:700;">Tudo isso em um sistema totalmente em nuvem com interface amigável que você pode acessar de qualquer lugar com acesso a internet</span></p>
    <p dir="ltr" style="font-size:13pt;line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="color: rgb(0,0,0);background-color:transparent;font-weight:700;">Entre em contato com a gente que nossa equipe terá o maior prazer em te atender.</span></p>
    <br>
    <div style="text-align: center;">
        <a href="https://tractorerp.com.br" style="font-family:Arial,sans-serif;display:inline-block;padding:10px 20px;border-radius: 5px;background-color: rgb(44,97,52);color: white;text-decoration:none;width:60%;border:1px solid #7b7979;font-size:10pt;">QUERO SABER MAIS</a>
    </div>
    <br><br>
    <div style="background-color: rgb(59, 97, 183); border-radius: 5px; padding-left: 20px; padding-right: 20px; line-height: 1; text-align: center; margin: 0 auto;">
        <p id="pRodape"><span id="sRodape">Quem Somos:</span></p><br>
        <p id="pRodape"><span id="sRodape">O Tractor ERP é um produto da ADM Sistema, empresa sediada na cidade de Curitiba, com 3 décadas de experiência no mercado desenvolvendo sistemas para vários clientes de todo o Brasil</span></p><br>
        <p id="pRodape"><span id="sRodape">https://admsistema.com.br/</span></p>
    </div>
	<img src="images/email/rodape.png" style="width: 100%;" alt="" class="img-fluid"><span>
</div>