<style>
    #body{font-family:Times New Roman,serif}
    #p2{line-height:0.8883636;margin-top:0pt;margin-bottom:0pt;padding: 2pt 0pt 0pt;}
    #imgAss{width:20%;}
    @media only screen and (max-width:768px){#btnQSM{width:100%;}#imgAss{width:50%;}}
    </style>
    <div id="body">
    <img src="images/email/cabecalho.jpeg" style="width: 100%;" alt="" class="img-fluid">
    <br>
    <br>
    <p style="margin-top: 12pt; margin-bottom: 0pt;font-weight: 700;">
        <span style="font-size: 12pt;color: rgb(0, 0, 0);">Você quer acabar com os “monos” do teu estoque?</span>
    </p>
    <p style="margin-top: 12pt; margin-bottom: 0pt;font-weight: 700;">
        <span style="font-size: 12pt;color: rgb(0, 0, 0);">Quanto dinheiro está parado no seu estoque?</span>
    </p><br>
    <p id="p2">
        <span style="font-size: 12pt;color: rgb(0, 0, 0);">Olá, revendedor de peças de trator</span>
    </p><br>
    <p id="p2">
        <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">Nós somos da Tractor ERP e a mais de 20 anos desenvolvemos soluções de tecnologia e temos como clientes dezenas de revendas de autopeças, por isso sabemos a receita de sucesso das empresas que mais vendem neste segmento.</span>
    </p>
    <br>
    <p id="p2">
        <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">Nós temos te enviado alguns e-mails cujo conteúdo com valiosas informações para AUMENTAR SUAS VENDAS E SIMPLIFICAR SUA GESTÃO. Neste e-mail especificamente, vamos te mostrar como vender os “monos” do seu estoque, aqueles produtos que estão no seu estoque há muito tempo, e que você precisa vender.</span>
    </p><br>
    <p id="p2">
        <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">Hoje em dia com a internet é possível achar um comprador para aquela peça de um modelo antigo que você tem há anos parado no seu estoque. Os chamados Marketplaces como o Mercado Livre são o melhor canal para vender peças únicas, não duvide disso.</span>
    </p><br>
    <p id="p2">
        <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">Por isso o Tractor ERP tem integração com o Mercado Livre, ou seja, no próprio software de gestão você consegue cadastrar as peças e verificar os pedidos de qualquer parte do país. Usando os marketplaces você encontrará os clientes para as peças mono.</span>
    </p><br>
    <div style="text-align: center;">
        <a href="https://tractorerp.com.br"
            style="font-family:Arial,sans-serif;display:inline-block;padding:10px 20px;border-radius: 5px;background-color: rgb(44,97,52);color: white;text-decoration:none;width:60%;border:1px solid #7b7979;font-size:10pt;">
            QUERO AUMENTAR AS VENDAS</a>
    </div>
    <br><br>
    <p id="p2">
    <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">No mundo moderno sua empresa precisa de um sistema de gestão ERP que entenda os desafios das revendas de peças de tratores e tenha soluções prontas que te ajudem a crescer e prosperar.</span>
    </p>
    <p id="p2">
        <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">Você já parou para pensar em quanto dinheiro você tem parado no estoque? Quanto você consegue faturar vendendo suas peças mono?  Solução para isso está é mais simples do que você pensa! E a um custo muito próximo do que você já paga no sistema que você já usa atualmente!</span>
    </p><br>
    <p id="p2">
        <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">Não perca tempo! Entre em contato com nossa equipe e veja como o Tractor ERP te ajuda a AUMENTAR AS VENDAS E A PROSPERAR!</span>
    </p>

    <br>
    <div style="text-align: center;">
        <a href="https://tractorerp.com.br"
            style="font-family:Arial,sans-serif;display:inline-block;padding:10px 20px;border-radius: 5px;background-color: rgb(44,97,52);color: white;text-decoration:none;width:60%;border:1px solid #7b7979;font-size:10pt;">
        QUERO AUMENTAR AS VENDAS</a>
    </div>
    <br><br>
    <p style="margin-top: 12pt; margin-bottom: 1pt;font-weight: 700;">
        <span style="font-size: 12pt;color: rgb(0, 0, 0);">Estamos a sua disposição</span>
    </p>
    <img src="images/email/assinatura.png" id="imgAss" alt="">
    <br><br>
    <img src="images/email/rodape.png" style="width: 100%;" alt="">
    </div>