<style>
#body{font-family:Times New Roman,serif}
#p2{line-height:0.8883636;margin-top:0pt;margin-bottom:0pt;padding: 2pt 0pt 0pt;}
#imgAss{width:20%;}
@media only screen and (max-width:768px){#btnQSM{width:100%;}#imgAss{width:50%;}}
</style>
<div id="body">
<img src="images/email/cabecalho.jpeg" style="width: 100%;" alt="" class="img-fluid">
<br>
<br>
<p id="p2">
    <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">Sua empresa vende o mês inteiro mas no final você diz: <b>“cadê o dinheiro??”</b></span>
</p>
<br>
<p id="p2">
    <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">Este email vai te mostrar que talvez você esteja vendendo bem mas não sabe onde está indo o seu faturamento.</span>
</p>
</p>
<p style="margin-top: 12pt; margin-bottom: 0pt;font-weight: 700;">
    <span style="font-size: 12pt;color: rgb(0, 0, 0);">Prezado dono de Revenda de Peças de Trator</span>
</p>
<p id="p2">
    <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">Se você está recebendo este e-mail é porque nosso time comercial entrou em contato e você solicitou uma apresentação maior por e-mail.</span>
</p>
<p id="p2">
    <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">Este e-mail aborda uma situação bem comum nas empresas que vendem o mês todo, mas no final do mês, mesmo com as vendas indo bem mas, quando vai fechar as contas, cadê o dinheiro??</span>
</p>
<p id="p2">
    <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">Isso já pode ter acontecido com você no passado ou até no presente momento. De acordo com nossa experiência de décadas atendendo dezenas de revendas de peças de tratores, vemos que, quando isso acontece, só pode estar acontecendo uma coisa:</span>
</p>
<p style="margin-top: 12pt; margin-bottom: 0pt;font-weight: 700;">
    <span style="font-size: 12pt;color: rgb(0, 0, 0);">- Você está vendendo sem margem de lucro!!</span>
</p>
<p id="p2">
    <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">No final do mês falta dinheiro pois tudo o que você está faturando com as vendas está indo nas despesas da empresa. Se isto está acontecendo com você, é necessário passar um pente fino em todas as finanças da empresa para confirmar.</span>
</p>
<p id="p2">
    <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">Se isto está acontecendo com você saiba que não é o único, a grande maioria dos pequenos e médios negócios do Brasil já passaram por isso. Mas é preciso mudar, se quiser prosperar, neste caso, é necessário que trabalhar em um sistema que permita fácil acesso aos dados de lucratividade por venda, por vendedor, e muito mais.</span>
</p>
<p id="p2">
    <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">O Tractor ERP foi desenvolvido pensando em dar o suporte necessário ao proprietário de revendas de peças de tratores aumentar suas vendas e simplificar a gestão. Por isso o sistema permite fácil acesso a:</span>
</p>
<p id="p2"><span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;"> - Qual dos seus vendedores consegue vender com mais lucro;</span></p>
<p id="p2"><span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;"> - Quais produtos que você vende oferecem mais lucro a sua loja;</span></p>
<br>
<p id="p2">
    <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">Com estas informações você consegue corrigir eventuais problemas e se preparar para prosperar, aumentando sua margem de lucro nas operações.</span>
</p>
<br>
<div style="text-align: center;">
    <a href="https://tractorerp.com.br"
        style="font-family:Arial,sans-serif;display:inline-block;padding:10px 20px;border-radius: 5px;background-color: rgb(44,97,52);color: white;text-decoration:none;width:60%;border:1px solid #7b7979;font-size:10pt;">
        QUER SABER MAIS</a>
</div>
<br>
<p id="p2">
    <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">Além dessa função, o Tractor ERP te ajuda a melhorar suas vendas e simplificar seus processos administrativos fiscais. Entre em contato com nossa equipe para ver como aplicar isso em sua empresa é mais fácil do que você pensa!</span>
</p>
<p id="p2">
    <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">E além de tudo, o Tracor ERP custa praticamente o mesmo valor que você já paga no sistema que você já usa e não te ajuda a vender mais!</span>
</p>
<br>
<br>
<p style="margin-top: 12pt; margin-bottom: 0pt;font-weight: 700;">
   <span style="font-size: 12pt;color: rgb(0, 0, 0);">Converse com nossa equipe e Aumente suas vendas e lucratividade a partir de hoje.</span>
</p>
<br>
<div style="text-align: center;">
    <a href="https://tractorerp.com.br"
        style="font-family:Arial,sans-serif;display:inline-block;padding:10px 20px;border-radius: 5px;background-color: rgb(44,97,52);color: white;text-decoration:none;width:60%;border:1px solid #7b7979;font-size:10pt;">
    QUERO AUMENTAR AS VENDAS</a>
</div>
<br><br>
<p style="margin-top: 12pt; margin-bottom: 1pt;font-weight: 700;">
    <span style="font-size: 12pt;color: rgb(0, 0, 0);">Estamos a sua disposição</span>
</p>
<img src="images/email/assinatura.png" id="imgAss" alt="">
<br><br>
<img src="images/email/rodape.png" style="width: 100%;" alt="">
</div>