<style>
#body{font-family:Times New Roman,serif}
#p2,#p3{line-height:0.8883636;margin-top:0pt;margin-bottom:0pt;padding: 2pt 0pt 0pt;}
#sp3{font-size: 12pt; color: rgb(0, 0, 0);background-color:transparent;}
#p4{line-height:1.38;margin-top:0pt;margin-bottom:0pt;}#tsP4{font-size:12pt;font-weight:700;color: rgb(0, 0, 0);background-color:transparent;}#sP4{font-size:11pt;font-family:Arial,sans-serif;color: rgb(0, 0, 0);background-color:transparent;}
#p5{line-height:1.38;margin-top:0pt;margin-bottom:0pt;}#tsP5{font-size:12pt;font-weight:700;color: rgb(0, 0, 0);background-color:transparent;}#sp5{font-size:11pt;font-family:Arial,sans-serif;color: rgb(0, 0, 0);background-color:transparent;}
@media only screen and (max-width:768px){#sp3{line-height:0.8883636;padding: 6pt 0pt 0pt;}#btnQSM{width:100%;}}
</style>
<div id="body">
<img src="images/email/cabecalho.jpeg" style="width: 100%;" alt="" class="img-fluid">
    <p style="margin-top: 12pt; margin-bottom: 0pt;font-weight: 700;">
       <span style="font-size: 12pt;color: rgb(0, 0, 0);">Prezado dono de Revenda de Peças de Trator</span>
    </p>
    <br>
        <p id="p2">
            <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">Diferente dos e-mails anteriores, neste e-mail vamos te mostrar que, 
                <b>além das aumentar as vendas, o Tractor ERP também ajuda nos processos administrativos e fiscais </b> que te fazem gastar bastante tempo com bancos, contabilidade, impostos, etc.</span>
        </p>
    <br>
        <p id="p2">
            <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">Se você pessoalmente executa diariamente estas tarefas administrativas, financeiras e 
                fiscais sabe o trabalho que dá, caso em sua empresa outra pessoa cumpra faça isso, pergunte a ela o quanto de tempo e energia ela gasta fazendo isso, sem contar os problemas 
                que podem vir de eventuais erros!</span>
        </p>
        <p id="p2">
            <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">Por isso é importante um sistema ERP que facilite a gestão tornando-a mais simples e fácil!</span>
        </p>
    <br>
        <p style="margin-top: 12pt; margin-bottom: 0pt;font-weight: 700;">
            <span style="font-size: 12pt;color: rgb(0, 0, 0);">Foi para isso que desenvolvemos o Tractor ERP, para te ajudar a aumentar as vendas e a simplificar a gestão.</span>
        </p>
        <br>
    <div style="text-align: center;">
        <a href="https://tractorerp.com.br"
            style="font-family:Arial,sans-serif;display:inline-block;padding:10px 20px;border-radius: 5px;background-color: rgb(44,97,52);color: white;text-decoration:none;width:60%;border:1px solid #7b7979;font-size:10pt;">
            QUER SABER MAIS</a>
    </div>
<br><br>
    <p style="margin-bottom:4pt;"><span style="font-size: 13pt;font-weight: 700;color: rgb(0, 0, 0);background-color:transparent;">Veja o que o sistema pode fazer por você:</span></p>
    <p id="p5"><span id="tsP5">Eficiência na Emissão de Notas Fiscais</span><span id="sp5"> - o sistema oferece emissão simplificada de notas fiscais eletrônicas a partir de um ou mais pedidos de clientes;</span></p>
    <p id="p5"><span id="tsP5">Impostos Calculados Automaticamente</span><span id="sp5"> - seja qual for o seu regime tributário, basta concluir a venda que o sistema faz todo o calculo dos impostos de formarápida e precisa;</span></p>
    <p id="p5"><span id="tsP5">Integração com Bancos</span><span id="sp5"> - remessas e retorno, e outros processos com o banco de sua preferência;</span></p>
    <p id="p5"><span id="tsP5">Integração com a contabilidade</span><span id="sp5"> - transferência e informações de compras e vendas de cada mês em formato padrão, integrando com todos os sistema contábeis;</span></p>
    <p id="p5"><span id="tsP5">Registro automático de notas de compra</span><span id="sp5"> - as notas de compra são registradas no sistema em formato XML, registrando estoques e programando pagamentos no financeiro;</span></p>
    <br>
    <p id="p2">
        <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">Tudo isso e muito mais! Se quiser saber mais como aumentar as vendas e simplificar a gestão, entre em contato com nossa equipe, teremos o maior prazer em ajudar!</span>
    </p><br>
    <div style="text-align: center;">
        <a href="https://tractorerp.com.br"
            style="font-family:Arial,sans-serif;display:inline-block;padding:10px 20px;border-radius: 5px;background-color: rgb(44,97,52);color: white;text-decoration:none;width:60%;border:1px solid #7b7979;font-size:10pt;">
            QUER SABER MAIS</a>
    </div>
    <br>
    <p id="p2">
        <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">E tem mais, usar o Tractor ERP para aumentar suas vendas custa praticamente o que você já paga em um sistema que não foi feito para te ajudar a prosperar.</span>
    </p>
    <p id="p2">
        <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">Para ver que melhorar as vendas e simplificar sua gestão entre em contato com nosso time comercial!</span>
    </p>
    <br>
    <div style="text-align: center;">
        <a href="https://tractorerp.com.br"
            style="font-family:Arial,sans-serif;display:inline-block;padding:10px 20px;border-radius: 5px;background-color: rgb(44,97,52);color: white;text-decoration:none;width:60%;border:1px solid #7b7979;font-size:10pt;">
        QUERO AUMENTAR AS VENDAS</a>
    </div>
    <br><br>
    <p style="margin-top: 12pt; margin-bottom: 0pt;font-weight: 700;">
       <span style="font-size: 12pt;color: rgb(0, 0, 0);">Estamos a sua disposição</span>
    </p>
    <br>
    <img src="images/email/assinatura.png" style="width: 20%;" alt="" class="img-fluid"><span></span>
    <br><br>
	<img src="images/email/rodape.png" style="width: 100%;" alt="" class="img-fluid"><span>
</div>