<style>
#body{font-family:Times New Roman,serif}
#p2,#p3{line-height:0.8883636;margin-top:0pt;margin-bottom:0pt;padding: 2pt 0pt 0pt;}
#sp3{font-size: 12pt; color: rgb(0, 0, 0);background-color:transparent;}
#p4{line-height:1.38;margin-top:0pt;margin-bottom:0pt;}#tsP4{font-size:12pt;font-weight:700;color: rgb(0, 0, 0);background-color:transparent;}#sP4{font-size:11pt;font-family:Arial,sans-serif;color: rgb(0, 0, 0);background-color:transparent;}
#imgAss{width:20%;}
@media only screen and (max-width:768px){#sp3{line-height:0.8883636;padding: 6pt 0pt 0pt;}#btnQSM{width:100%;}#imgAss{width:50%;}}
/* @media only screen and (min-width:768px) and (max-width:1024px){#aumentaVenda{line-height:0.0883636;}} */
</style>
<div id="body">
<img src="images/email/cabecalho.jpeg" style="width: 100%;" alt="" class="img-fluid">
    <p style="margin-top: 12pt; margin-bottom: 0pt;font-weight: 700;">
       <span style="font-size: 12pt;color: rgb(0, 0, 0);">Olá, revendedor de peças de trator</span>
    </p>
    <br>
        <p id="p2">
            <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">Nós somos da Tractor ERP e a mais de 20 anos desenvolvemos soluções de tecnologia e temos como 
                clientes dezenas de revendas de autopeças, por isso sabemos a receita de sucesso das empresas que mais vendem neste segmento.</span>
        </p>
    <br>
        <p id="p2">
            <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">Se você pensa que a receita certa para vender mais é ter os menores preços, está enganado! </span>
        </p>
        <p id="p2">
            <span style="font-size: 12pt; color: rgb(0, 0, 0); background-color: transparent;">as empresas que mais vendem são as mais preparadas para atender os clientes de forma rápida e 
                eficiente. </span>
        </p>
    <br>
        <p id="p2">
            <span style="font-size: 12pt;color: rgb(0, 0, 0);">Mas na prática? O que significa atender de forma rápida e eficiente?</span>
        </p>
        <p style="margin-top: 12pt; margin-bottom: 0pt;font-weight: 700;">
            <span style="font-size: 12pt;color: rgb(0, 0, 0);">A resposta é: Ser o primeiro a responder as cotações e orçamentos dos clientes! Para isso, não basta passar o dia de olho 
                no whatsapp! É preciso:</span>
        </p>
    <p id="p3"><span id="sp3">- Verificar rapidamente se as peças solicitadas estão no estoque e seus preços. Isto inclui acessar rapidamente modelos de peças equivalentes entre os catálogos dos fabricante,</span></p>
    <p id="p3"><span id="sp3">- Ter as peças em estoque – é necessário uma boa gestão de estoque para não faltar aquela peça na hora certa, entregando o cliente ao seu concorrente.</span></p>
    <p style="margin-top: 12pt; margin-bottom: 0pt;font-weight: 700;">
        <span style="font-size: 12pt;color: rgb(0, 0, 0);">Essas informações são oriundas de interações com nossos clientes!</span>
    </p>
    <br>
    <p id="p3"><span style="font-size: 13pt;font-weight: 700;color: rgb(0, 0, 0);background-color:transparent;">Daí vem a pergunta: o sistema de gestão ERP usado pela sua empresa apresenta todas estas características?</span></p>
    <p id="p3"><span id="sp3">- permite fácil uso para responder as cotações dos clientes e verificação no estoque?</span></p>
    <p id="p3"><span id="sp3">- permite cadastrar equivalência de peças dos catálogos?</span></p>
    <p id="p3"><span id="sp3">- te dá relatórios precisos e atualizados do seu estoque, para não deixar faltar peças?</span></p>
    <p id="p3"><span id="sp3">- o sistema permite fazer o acompanhamento das vendas perdidas?</span></p>
    <p id="p3"><span id="sp3">- o sistema permite visualizar de forma simples a lucratividade de cada venda para saber a lucratividade geral da empresa?</span></p>
    <br>
    <div style="text-align: center;">
        <a href="https://tractorerp.com.br"
            style="font-family:Arial,sans-serif;display:inline-block;padding:10px 20px;border-radius: 5px;background-color: rgb(44,97,52);color: white;text-decoration:none;width:60%;border:1px solid #7b7979;font-size:10pt;">
            QUERO AUMENTAR MINHAS VENDAS</a>
    </div>
    <br><br><br>
    <div style="background-color: rgb(218,224,255); border-radius: 5px; padding: 10px;">
        <p id="p4">
            <span id="tsP4">O Tractor ERP foi desenvolvido com estas e outras características que tem como objetivo te ajudar aumentar as vendas e simplificar sua gestão!</span>
        </p>
        <p id="p4">
            <span id="sP4"> E a melhor noticia é que trabalhar com o Tractor para aumentar suas vendas custa praticamente o que você já paga em um sistema que não foi feito para te ajudar a prosperar.</span>
        </p>
        <p id="p4">
            <span id="sP4">Para ver que melhorar as vendas e simplificar sua gestão entre em contato com nosso time comercial!</span>
        </p>
    </div>
    </p>
    <div style="text-align: center;">
        <a href="https://tractorerp.com.br" style="font-family:Arial,sans-serif;display:inline-block;padding:10px 20px;border-radius: 5px;background-color: rgb(44,97,52);color: white;text-decoration:none;width:60%;border:1px solid #7b7979;font-size:10pt;">
            QUERO AUMENTAR MINHAS VENDAS</a>
    </div>
    <br>
    <p style="margin-top: 12pt; margin-bottom: 0pt;font-weight: 700;">
       <span style="font-size: 12pt;color: rgb(0, 0, 0);">Estamos a sua disposição</span>
    </p>
    <br>
    <img src="images/email/assinatura.png" id="imgAss" alt="">
    <br><br>
	<img src="images/email/rodape.png" style="width: 100%;" alt="" class="img-fluid"><span>
</div>